@{
    ViewBag.Title = "ToDo";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Zde můžete přidat vlastní CSS styly */
    </style>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
    </header>

    <div>
        <a href="/ToDo/Add" class="btn btn-outline-success">Přidat úkol</a>
    </div>
    <div>
        <button onclick="List()"class="btn btn-primary">List</button>
    </div>



    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        // Zde můžete přidat JavaScript pro dynamické funkce
    </script>
</body>
</html>
